[package]
name = "xtask-wasm"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Extend your project workflow with custom xtask command for WASM"
homepage = "https://github.com/rustminded/xtask-wasm"
repository = "https://github.com/rustminded/xtask-wasm"
documentation = "https://docs.rs/xtask-wasm"
# Following security advisory (see
# [cve-2022-21658](https://groups.google.com/g/rustlang-security-announcements/c/R1fZFDhnJVQ))
# since we use `std::fs::remove_dir_all` in `src/dist.rs`.
rust-version = "1.58.1"
readme = "README.md"
categories = ["development-tools::build_utils"]
keywords = ["wasm", "cli"]
include = ["src/**/*.rs", "README.md", "LICENSE.Apache-2.0", "LICENSE.MIT"]

[features]
wasm-opt = ["binary-install", "platforms"]

[dependencies]
anyhow = "1.0.52"
binary-install = { version = "0.0.2", optional = true }
cargo_metadata = "0.14.1"
clap = { version = "3.0.10", features = ["derive"] }
fs_extra = "1.2.0"
lazy_static = "1.4.0"
log = "0.4.14"
notify = "4.0.17"
platforms = { version = "2.0.0", optional = true }
walkdir = "2.3.2"
wasm-bindgen-cli-support = "0.2.68"

[target.'cfg(unix)'.dependencies]
libc = "0.2.112"

[workspace]
