[package]
name = "xtask-wasm"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Extend your xtask workflow with custom WASM commands"
homepage = "https://github.com/rustminded/xtask-wasm"
repository = "https://github.com/rustminded/xtask-wasm"
documentation = "https://docs.rs/xtask-wasm"

[dependencies]
anyhow = "1.0"
camino = "1.0"
cargo_metadata = "0.14"
fs_extra = "1.2"
lazy_static = "1.4"
log = "0.4"
notify = "4.0"
structopt = "0.3"
walkdir = "2.3"
wasm-bindgen-cli-support = "0.2.68"

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[workspace]
