[package]
name = "xtask-wasm"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Extend your xtask workflow with custom WASM commands"
homepage = "https://github.com/rustminded/xtask-wasm"
repository = "https://github.com/rustminded/xtask-wasm"
documentation = "https://docs.rs/xtask-wasm"

[features]
wasm-opt = ["binary-install", "platforms"]

[dependencies]
binary-install = { version = "0.0.2", optional = true }
fs_extra = "1.2.0"
lazy_static = "1.4.0"
log = "0.4.14"
platforms = { version = "2.0.0", optional = true }
wasm-bindgen-cli-support = "0.2.68"
xtask-watch = { version = "0.1.0", git = "https://github.com/rustminded/xtask-watch" }

[target.'cfg(unix)'.dependencies]
libc = "0.2.112"

[workspace]
